<!-- /*
* Copyright (c) 2024 Siccar (Registered co. Wallet.Services (Scotland) Ltd).
* All rights reserved.
*
* This file is part of a proprietary software product developed by Siccar.
*
* This source code is licensed under the Siccar Proprietary Limited Use License.
* Use, modification, and distribution of this software is subject to the terms
* and conditions of the license agreement. The full text of the license can be
* found in the LICENSE file or at https://github.com/siccar/SICCARV3/blob/main/LICENCE.txt.
*
* Unauthorized use, copying, modification, merger, publication, distribution,
* sublicensing, and/or sale of this software or any part thereof is strictly
* prohibited except as explicitly allowed by the license agreement.
*/ -->

@inherits BaseControl

<!-- Numeric Control -->
<div hidden=@_hidden class="numeric">
    <label for="_id">@_label</label>
    <input type="number" placeholder="@_placeholder" id="_id" value=@DecimalValue @onchange="(e) => OnChange(e)" />
    <p>@_description</p>
</div>

@code {
    private NumberStyles style =
                NumberStyles.AllowDecimalPoint | NumberStyles.AllowLeadingSign;
    private CultureInfo culture = CultureInfo.CreateSpecificCulture("en-UK");
    private string DecimalValue;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dataService.StateChanged += StateHasChanged;
    }

    protected override async Task OnParametersSetAsync()
    {
        DecimalValue = "0.000";
        if (_id != null)
        {
            Decimal number;
            var data = dataService.GetFormDataByKey(_id);
            var isNumber = decimal.TryParse(data.ToString(), out number);
            if (isNumber)
            {
                DecimalValue = number.ToString("0.000", culture);
                await base.OnParametersSetAsync();
            }
        }



    }

    private void OnChange(ChangeEventArgs eventArgs)
    {
        if (Decimal.TryParse(eventArgs.Value.ToString(), style, culture, out var number))
        {
            DecimalValue = eventArgs.Value.ToString();
            var decimalValue = Math.Round(number, 3);
            dataService.UpdateFormData(_id, decimalValue);
        }
    }
}

