<!-- /*
* Copyright (c) 2024 Siccar (Registered co. Wallet.Services (Scotland) Ltd).
* All rights reserved.
*
* This file is part of a proprietary software product developed by Siccar.
*
* This source code is licensed under the Siccar Proprietary Limited Use License.
* Use, modification, and distribution of this software is subject to the terms
* and conditions of the license agreement. The full text of the license can be
* found in the LICENSE file or at https://github.com/siccar/SICCARV3/blob/main/LICENCE.txt.
*
* Unauthorized use, copying, modification, merger, publication, distribution,
* sublicensing, and/or sale of this software or any part thereof is strictly
* prohibited except as explicitly allowed by the license agreement.
*/ -->


@inherits BaseControl

<div hidden=@_hidden class="textarea">
    <label>@_label</label>
    <textarea type="text" placeholder="@_placeholder" @bind="InputValue" @onblur="(_) => OnBlur()"/>
    <p>@_description</p>
</div>

@code {
    private string InputValue { get; set; } = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dataService.StateChanged += StateHasChanged;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_id != null)
        {
            var data = (string)dataService.GetFormDataByKey(_id);
            InputValue = data;

            await base.OnParametersSetAsync();
        }
    }

    private void OnBlur() => dataService.UpdateFormData(_id, InputValue);
}

